@use '../../utils' as *;

/*----------------------------------------*/
/* 6.5 Cta
/*----------------------------------------*/
.cta-area {
    position: relative;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: #001743;
        opacity: .80;
    }
}
.rs-title {
    color: #fff;
    z-index: 11;
    position: relative;
}