@use '../utils' as *;

/*----------------------------------------*/
/* 2.1 Accordion
/*----------------------------------------*/
.rs-accordion {
    &-header {
        margin: 0;
    }
    &-item {
        border: 1px solid #57595C;
        border-radius: 10px;
    }
    &-button {
        font-size: 20px;
        font-weight: 400;
        font-family: var(--rs-fonts-heading);
        color: #0A0E1A;
        width: 100%;
        text-align: left;
        padding: 21px 30px;
        @media #{$md,$sm,$xs} {
            font-size: 14px;
        }
        @include flexbox();
        justify-content: space-between;
        & span {
            margin-left: 20px;
            font-size: 16px;
            color: #57595C;
        }
        &.collapsed {
            & span {
                @include transform(rotate(-90deg));
            }
        }
    }
    &-body {
        margin: 0 30px;
        border-top: 1px solid #57595C;
        padding-top: 20px;
        padding-bottom: 10px;
        & p {
            @media #{$md,$sm,$xs} {
                font-size: 12px;
                line-height: 21px;
            }
        }
    }
}

.rs-faq {
    &-button {
        text-align: left;
        font-size: 24px;
        border-bottom: 1px solid #D9D9D9 transparent;
        padding: 20px 0;
        color: #0A0E1A;
        @include flexbox();
        justify-content: space-between;
        width: 100%;
        &::after {
            content: '-';
            font-size: 30px;
        }
        &.collapsed {
            border-bottom: 1px solid #D9D9D9;
            &::after {
                content: '+';
                font-size: 30px;
            }
        }
    }
    &-thumb {
        & img {
            max-width: inherit;
        }
    }
}