:root {
    --rs-theme-color: #0057FC;
    --rs-theme-sec-color: #FFE815;
    --rs-theme-orange: #FF5B15;
    --rs-heading-color: #0A0E1A;
    --rs-black-common: #0A0E1A;
    --rs-body-text: #57595C;
    --rs-theme-bdr-btm: #F2DDD1;
    --rs-theme-nblue: #001C52;
    --rs-color-white: white;
    --rs-common-black: #0a0E19;
    --rs-cream-bgdn: #FBF6EF;
    --rs-grey-color: #f6f6f6;
    --rs-grey-color-2: #f6f6f6;
    --rs-grey-color-3: #f6f6f6;
    --rs-grey-color-4: #f6f6f6;
    --rs-plsdr-color: #fff;
}